node_modules
dist
dist-ssr
.DS_Store
.env
.env.local
.env.*.local
.vscode
.idea
.firebase
.firebaserc.local
.emulator-data
.firebase-debug.log
firestore-debug.log
ui-debug.log
storage-debug.log
pubsub-debug.log
functions/lib
functions/node_modules
*.log
.jdk21/
.jdk21.zip
functions/.jdk21/
functions/.jdk21.zip
